.search-form{
    
}
.form-input{
    width: 40%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    outline: none;
}
.submit-btn{
    border: none;
    background-color: transparent;
    margin-left: -15px;
}
.imgPhoto{
    height: 350px;
    object-fit: fill;
    width:100%
}