*{
  margin: 0;
  /* background-color: red; */
  padding: 0;
}
main{
  padding: 25px;
}
.search{
width: 70%;
margin-bottom: 30px;

}

.photos-center{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}